@page "/counter"
@using LearningMAUI_2022_23_Blazor.Data.Models

<h1>Add To:Do tasks</h1>
<p>this page is to add task and binds with task model and save to csv</p>

<EditForm Model=@toDoModel>
    <label for="fname">Task Name:</label><br>
    <InputText id="Name" @bind-Value=toDoModel.Name class="form-control"></InputText>
    @*
        <label for="lname">Note2:</label><br>
    <input type="text" id="lname" name="lname" value="Fun Stuff">
    *@
    <br><br>

    <label for="fname">Task Description:</label><br>
    <InputText id="Name" @bind-Value=toDoModel.Description class="form-control"></InputText>
    <br><br>

    <label for="fname">Task Date:</label><br>
    <InputText id="Name" @bind-Value=toDoModel.TaskDate class="form-control"></InputText>
    <br><br>

    <label for="fname">Task Type:</label><br>
    <InputText id="Name" @bind-Value=toDoModel.TaskType class="form-control"></InputText>
    <br><br>

    <input type="submit" value="Submit" @onclick="main" >
    <input type="reset">
</EditForm>
<br />
<br />

<p role="status">Current count: @currentCount</p>
this button down here wont save data
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    string _filePath = "C:\\#Development\\.Net\\Islington\\LearningMAUI-2022-23-Blazor\\todo.csv";
    string _filePath2 = "C:\\#Development\\.Net\\Islington\\LearningMAUI-2022-23-Blazor\\todo2.csv";


    ToDoModel toDoModel = new();

    public void main()
    {
        WriteToCsv.WriteDataToCsv(toDoModel, _filePath);
        WriteToCsv.WriteToCsvNewLine(toDoModel, _filePath2);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
