@page "/fetchdata"

@using LearningMAUI_2022_23_Blazor.Data
@using LearningMAUI_2022_23_Blazor.Data.Models
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Task Name</th>
				<th>Task Description</th>
				<th>Task Date</th>
				<th>Task Type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var forecast in data)
			{
				<tr>
					<td>@forecast.Name</td>
					<td>@forecast.Description</td>
					<td>@forecast.TaskDate</td>
					<td>@forecast.TaskType</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
    private WeatherForecast[] forecasts;
	List<ToDoModel> data;

    Write_ReadToCsv write_ReadToCsv = new();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        data = await Write_ReadToCsv.ExportCsvData();
        Write_ReadToCsv.ReadToCsvAsync();
	}
}
