@page "/"

<h1 class="center">Hello, Welcome to our To:Do App</h1>

This will be a simple app with minimal features of adding to:do tasks and saving them to any text files .

<ReusableHtml Title="This is a Title being passed through parameter" />

<div>
    <img src="Images/dotnet_bot.svg"/>
</div>
