@page "/"

<h1 class="center">Hello, Welcome to our To:Do App</h1>

Please Login inoreder to continue

<ReusableHtml Title="This is a Title being passed through parameter" />

<div>
    <img src="Images/dotnet_bot.svg"/>
</div>
