@page "/notes"
@inject ISnackbar Snackbar
@using LearningMAUI_2022_23_Blazor.Data

<h3>Notes</h3>

<div class="danger">
  <p><strong>Danger!</strong> Some text...</p>
</div>

<div class="success">
  <p><strong>Success!</strong> Some text...</p>
</div>

<div class="info">
  <p><strong>Info!</strong> Some text...</p>
</div>

<div class="warning">
  <p><strong>Warning!</strong> Some text...</p>
</div>

<EditForm Model=@theModels OnSubmit="main">
  <label for="fname">Note 1:</label><br>
 <InputText id="Name" @bind-Value="theModels.Data" class="form-control"></InputText>
  @*<label for="lname">Note2:</label><br>
  <input type="text" id="lname" name="lname" value="Fun Stuff"><br><br>*@
  <br />
  <input type="submit" value="Submit" >
  <input type="reset">
</EditForm>
both the buttons work to save data
<br />
<button @onclick="main">Testing</button>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => Snackbar.Add("The reactor type is RBMK-1000", Severity.Normal))">Normal Snackbar</MudButton>
@code {
    string _filePath = "D:\\notes.txt";

    public class TheModels{
        public string Data { get; set; }
    }

    TheModels theModels = new();

    public void main(){
        try
        {
            if (theModels.Data==null) {
                throw new Exception();
            }
            WriteToFileServices writeToFileServices = new(theModels.Data, _filePath);
            Snackbar.Add("Note Sucessfully Added", Severity.Success);
            //WriteToFileServices writeToFileServices = new(data, _filePath);
        }
        catch { 
            Snackbar.Add("Note Could not Added", Severity.Warning);
        }
    }
}
